body{
    font-family: 'Bree Serif', serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper{
    width:83%;
    margin: 41px 29px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: 0.4 ease-in-out;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-icon{
    cursor: pointer;
    background-color: black;
    padding: 15px;
    /* width:20px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

i{
    font-size: 20px;
    color: white;
}

.search-field{
    z-index: 10000;
    top:0;
    position:  sticky;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

.search-field .search, .search:focus{
    outline: 1px solid black;
    font-size: 17px;
    margin-right: 20px;
    border-radius: 40px;
    width:100%;
    font-family: 'Special Elite', serif;
    padding: 0 13px;
}

.news-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 370px;
    height: 340px;
    margin-right: 30px;
    margin-bottom: 35px;
    border-radius: 10px;
    padding-left: 35px;
    background-color: rgb(239, 239, 240);
    box-shadow: 4px 3px 8px 2px rgb(163, 163, 163);
    transition: 0.3s ease-in-out;
}

.news-card:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.news-card:hover > h1{
    transition: 0.3s ease-out;
    text-shadow: 3px 2px rgb(150, 150, 150);
}

h1{
    width: 300px;
    transition: 0.3s ease-out;
    /* height: 40px; */
    /* text-shadow: 3px 2px rgb(150, 150, 150); */
}

p{
    font-size: 0.89em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(109, 109, 111) ;
}

a{
    display: block;
    text-decoration: none;
    padding-top: 0.2em;
    padding-right: 1em;
    transition: 0.2s ease-in-out;
    font-size: 1.5em;
}

a:hover{

    font-size: 1.6em;
    transition: 0.4s ease-in-out;
    
}

.inline{
    display: flex;
    justify-content: space-between;
}

.inline a{
    margin-left: -21px;
}

button{
    margin-bottom: 20px;
    float: right;
    border: none;
    background-color: rgb(225, 225, 231);
    font-size: 1.3em;
    font-family: 'Bree Serif', serif;
    /* padding: 5px; */
    width:140px;
     border-radius: 10px;
    height: 50px;
    transition: .145s ease-out;
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
    transition: .145s ease-in;
    box-shadow: 4px 2px 9px 2px rgb(163, 163, 163);
}

@media(min-width:375px) and (max-width:1000px) {
    .news-card{
        width: 375px;
        height: 330px;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1{
        font-size: 30px;
    }

    .search-field{
        width: 100%;
    }

    .search{
        width: 100%;
    }

    p{
        font-size: 16px;
    }

}

@media screen and (min-width:1366px) and (max-width:1700px) {
    .news-card{
        width: 330px;
        height: 330px;
    }

    h1{
        font-size: 26px;
    }

    .search{
        width: 100%;
    }

    p{
        font-size: 16px;
    }
}
